a {
    font-size: 36pt;
    font-weight: bold;
}

h1 {
    font-size: 48pt;
    text-align: center;
    color: orange;
    font-weight: bold;
}

* {
    background-color: yellow;
    font-family: "Trebuchet MS", sans-serif;
}


img {
    width: 1000px;
    height: auto;
    margin: auto;
    display: block;
}

h2 {
    font-size: 36pt;
}


p,
li {
    font-size: 24pt;
}